*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
.card_container{
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center
} 
.card{
    max-width: 350px;
    max-height: 550px;
    font-weight: 500;
    font-size: 1.1rem;
    font-style: normal;
    line-height: 34px;
    box-shadow: 2px 2px 12px rgb(72, 76, 39);
    border: 2px solid white;
    background-color: rgb(27, 28, 28);
    color: aliceblue;
    padding: 2px 2px;
    border-radius: 12px;
}
.card .card_body{
    padding: 10px 12px;
}
.card_container img{
    width: 100%;
    border-radius: 10px;
}
.card_btn{
    padding: 5px 20px;
    background-color: rgb(93, 91, 91);
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 1px 2px 14px rgb(171, 126, 44);
    margin-top: 20px;
    cursor: pointer;
}
.card_btn:hover{
    box-shadow: 1px 2px 12px black;
    background-color: darkgray;
    color: black;
    transform: translateY(-4px);
    transition: .4s linear;
}

.card:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(70, 41, 3);
    transform: translateY(-10px);
    transition: all 0.4s linear;
    box-shadow: 2px 4px 12px rgb(73, 69, 69);
    cursor: pointer;
}
@media screen and (max-width:680px) {
    .card_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
}
