* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------- shared style here ------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.roboto_body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(175, 255, 255);
}

/* ------------------ header navigation section ------------------ */
.main_header {
  max-width: 1600px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: fixed;
  z-index: 100;
  /* height: 100vh; */
}
.main_nav {
  max-width: 1600px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(23, 79, 23);
  padding: 18px;
  border: none;
  border-radius: 2px;
}

/* h1-style  */
.nav_head_logo {
  font-size: 3.3rem;
  font-weight: 700;
  font-style: oblique;
}
.nav_logo h1 a i {
  color: #62748e;
}
.nav_head_logo a {
  color: #fff;
  text-decoration: none;
}
/* link style  */
.links {
  display: flex;
  gap: 40px;
}
.links .lin {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
}
.links .lin a {
  text-decoration: none;
  color: #bae2f4;
}
/* --- nav_ber button section --- */
.nav_button {
  display: flex;
  gap: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.nav_button .btn {
  padding: 12px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 2 px 3px 10px black;
  background: transparent;
  border: none;
  background-color: #62748e;
  color: #d3e5ed;
  /* background: transparent;
  backdrop-filter: blur(10px); */
}
.hum_icon {
  display: none;
  color: #fff;
  font-size: 1.5rem;
}
/* ----- nav-ber hover section ----- */
.nav_logo:hover {
  transition: all 0.3s linear;
  transform: scale(1.1);
  cursor: pointer;
}

.lin:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  transition: all 0.3s ease;
  transform: scale(1.1);
  color: #d2e6f0;
  cursor: pointer;
}
.lin a:hover {
  color: #d2e6f0;
}

.btn:hover {
  transform: scale(1.1);
  transition: all 0.4s linear;
  color: #fff;
  background-color: black;
  cursor: pointer;
}
#show {
  display: flex;
  gap: 10px;
}

/* -------------- hero section --------------------- */
.hero_section {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3e5ed;
  padding: 10px 30px;
}
.hero_text {
  color: #394658;
}
.hero_text h1 {
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 40px;
}
.hero_text p {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  padding-bottom: 30px;
}
.hero_section .hero_img {
  max-width: 100%;
}

/* hero button section  */

.hero_sub_btn {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #e5088f, #c112a2, #660e71);
  display: inline-block;
  color: white;
  margin-right: 10px;
  font-weight: 600;
}
.hero_sub_btn1 {
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #e5088f, #c112a2, #660e71);
  color: white;
  font-weight: 600;
}
.hero_sub_btn:hover,
.hero_sub_btn1:hover {
  transition: all 0.3s linear;
  color: black;
  transform: scale(1.1);
}

/* developers card information  */

.card_container {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #bae2f4;
  min-height: 680px;
  display: flex;
  flex-direction: column;
}
.card_center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  transform: translateY(-10);
}
.card_container h2 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 3rem;
  font-weight: 600;
  font-style: oblique;
  color: rgb(255, 243, 243);
  text-shadow: 2px 4px 10px rgba(14, 8, 8, 0.5);
}
.card_body {
  width: 350px;
  text-align: center;
  /* border: 2px solid black; */
  padding: 20px 40px;
  color: rgb(246, 245, 245);
  background-color: #394658;
  border-radius: 12px;
  box-shadow: 4px 6px 15px rgb(40, 61, 87);
  transform: translateY(20);
  cursor: pointer;
}
.card_body .inf {
  text-align: start;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 25px;
}

.card_body .dev_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.inf h3 {
  font-size: 1.6rem;
  padding-bottom: 20px;
}
.inf .dev_name {
  font-size: 1rem;
}

/* ------- card hover -------- */
.card_body:hover {
  background-color: #d2e6f0;
  color: #394658;
  box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.7);
  color: black;
  transition: all 0.4s linear;
  transform: translateY(-10);
}
.speech {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 500;
  font-style: oblique;
  padding: 30px 0px 20px 0px;
  text-shadow: 1px 1px 8px rgb(124, 120, 115);
}

/* ----------------------footer section start ------------------------- */
.footer_details_start {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #d3e5ed;
}
.footer_details_start .set1 {
  font-size: 1.8rem;
  padding: 50px 20px 20px 30px;
  text-align: start;
  text-transform: capitalize;
  text-shadow: 1px 1px 10px rgb(175, 171, 171);
  color: #282c33;
}
.footer_details_start .set2 {
  font-size: 1.9rem;
  padding: 8px 0px 10px 30px;
  color: #282c33;
  line-height: 30px;
}
.footer_details_start .set2 p {
  font-size: 1.2rem;
}
.footer_details_start .set3 {
  padding: 0px 20px 0px 30px;
  font-size: 1.5rem;
  color: #282c33;
  line-height: 32px;
}
.footer_details_start .set3 p {
  font-size: 1.2rem;
}
/* ----- */
.footer_details_start {
  display: flex;
  padding: 50px 20px 20px 30px;
  justify-content: space-around;
  /* align-items: center; */
}
.last {
  display: flex;
  padding: 50px 20px 20px 30px;
  flex-direction: column;
}
/* input details  */
.input_name,
.input_email {
  padding: 20px;
  margin: 15px 0px;
  border-radius: 6px;
  border: none;
  background-color: #bdc0c3;
  font-size: 1rem;
}
.input_text_area {
  background-color: #bdc0c3;
  border-radius: 6px;
  border: none;
  font-size: 1.2rem;
}
.input_text_area::placeholder {
  padding: 10px;
  font-size: 1rem;
  /* padding:12px; */
  /* line-height: 16px; */
}

.hov:focus {
  background-color: rgb(255, 255, 255);
  color: #030303;
  transition: all 0.3s linear;
}

/* ---------------- media section for phn ------------------ */

@media screen and (max-width: 576px) {
  .nav_head_logo {
    font-size: 2rem;
    margin-right: 20px;
  }
  .links {
    display: none;
  }
  .hum_icon {
    display: block;
    font-size: 1.4rem;
  }
  .btn {
    display: none;
  }
  .hero_section {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #d3e5ed;
    padding: 10px 30px;
  }
  .hero_section .hero_img {
    max-width: 100%;
    margin-top: 20px;
  }
  .hero_text h1 {
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .hero_text p {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;
    padding-bottom: 20px;
  }
  .card_center {
    display: flex;
    flex-direction: column;
    margin: o 20px;
  }
  .card_head h2 {
    margin: 0px 10px 0px 10px;
  }
  .footer_details_start {
    display: flex;
    flex-direction: column;
  }
  .last {
    margin: 0px 15px 0px 2px;
  }
}

/* ---------------- media for tab_late ----------------- */

@media screen and (min-width: 577px) and (max-width: 996px) {
  .nav_head_logo {
    font-size: 2.5rem;
  }
  .links {
    margin: 0 20px;
  }
  .links a {
    font-size: 1rem;
    padding: 10px;
  }
  .links {
    display: none;
  }
  .hum_icon {
    display: block;
  }
  #show {
    display: none;
  }
  .hero_section .hero_img {
    max-width: 70%;
    margin-top: 20px;
  }
  .card_center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
    margin-right: 10px;
  }
}
